stages:
  - build
  - deploy

variables:
  HARBOR_REGISTRY: "ic-registry.epfl.ch"
  REPO_NAME: "explique"
  IMAGE_NAME: "explique"
  REGISTRY_ROBOT: 'robot$$explique+cicd'
  DOCKERFILE_PATH: "prod.Dockerfile"
  DOCKER_AUTH_CONFIG: "{\"auths\":{\"$HARBOR_REGISTRY\":{\"username\":\"$REGISTRY_ROBOT\",\"password\":\"$HARBOR_PASSWORD\"}}}"
  PVC_NAME: explique
  PVC_NSPACE: thl2
  PVC_SERVER: ic1files.epfl.ch
  PVC_PATH: /u10394_ic_icit_003_files_nfs/explique.epfl.ch
  BASE_DOMAIN: "explique.ai"

.EXEC_SCRIPT: &EXEC_SCRIPT
  - mkdir -p ~/.kube
  - echo "$KUBERNETESCONFIG" > ~/.kube/config
  - kubectl delete secret $APPLICATION_NAME-regcred --ignore-not-found -n thl2
  - kubectl create secret docker-registry $APPLICATION_NAME-regcred --docker-server="$HARBOR_REGISTRY" --docker-username=$REGISTRY_ROBOT --docker-password="$HARBOR_PASSWORD" --docker-email=support-icit@epfl.ch -n thl2
  - sed -i "s%APPLICATION-HOSTS-FQDN%$FQDN%g" $CI_PROJECT_DIR/k8s/ingress.yaml
  - sed -i "s%TLS-SECRET-NAME%$TLS_SECRET_NAME%g" $CI_PROJECT_DIR/k8s/ingress.yaml
  - sed -i "s%APPLICATION-IMAGE%$HARBOR_REGISTRY/$REPO_NAME/$IMAGE_NAME:$TAG%g" $CI_PROJECT_DIR/k8s/$DEPLOYMENT_FILE
  - sed -i "s%APPLICATION-NAME%$APPLICATION_NAME%g" $CI_PROJECT_DIR/k8s/$DEPLOYMENT_FILE
  - sed -i "s%APPLICATION-NAME%$APPLICATION_NAME%g" $CI_PROJECT_DIR/k8s/ingress.yaml
  - sed -i "s%APPLICATION-NAME%$APPLICATION_NAME%g" $CI_PROJECT_DIR/k8s/service.yaml
  - sed -i "s%PVC_NAME%$PVC_NAME%g" $CI_PROJECT_DIR/k8s/$DEPLOYMENT_FILE
  - kubectl apply -f $CI_PROJECT_DIR/k8s/ingress.yaml -n thl2
  - kubectl apply -f $CI_PROJECT_DIR/k8s/service.yaml -n thl2
  - kubectl delete -f $CI_PROJECT_DIR/k8s/$DEPLOYMENT_FILE --ignore-not-found -n thl2
  - kubectl apply -f $CI_PROJECT_DIR/k8s/$DEPLOYMENT_FILE -n thl2


build-prod:
  stage: build
  only:
    refs:
      - main
  environment:
    name: production
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - echo $DOCKER_AUTH_CONFIG > /kaniko/.docker/config.json
    - cat /kaniko/.docker/config.json
    - export BUILD_TAG="prod"
    - export BUILD_BASE_URL="https://explique.epfl.ch"
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/$DOCKERFILE_PATH --destination $HARBOR_REGISTRY/$REPO_NAME/$IMAGE_NAME:$BUILD_TAG --build-arg CONVEX_DEPLOY_KEY=$CONVEX_DEPLOY_KEY --build-arg SENTRY_AUTH_TOKEN=$SENTRY_AUTH_TOKEN --build-arg BASE_URL=$BUILD_BASE_URL --build-arg "JWT_KEY='$JWT_KEY'" --build-arg "ADMIN_API_PUBLIC_KEY='$ADMIN_API_PUBLIC_KEY'" --build-arg IDENTIFIER_SALT=$IDENTIFIER_SALT

build-staging:
  stage: build
  only:
    refs:
      - nightly
      - /^feat\/.*/
  environment:
    name: staging/$CI_COMMIT_REF_SLUG
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - echo $DOCKER_AUTH_CONFIG > /kaniko/.docker/config.json
    - cat /kaniko/.docker/config.json
    - export BUILD_TAG="$CI_COMMIT_REF_SLUG"
    - export BUILD_BASE_URL="https://${CI_COMMIT_REF_SLUG}.previews.${BASE_DOMAIN}"
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/$DOCKERFILE_PATH --destination $HARBOR_REGISTRY/$REPO_NAME/$IMAGE_NAME:$BUILD_TAG --build-arg CONVEX_DEPLOY_KEY=$CONVEX_DEPLOY_KEY --build-arg SENTRY_AUTH_TOKEN=$SENTRY_AUTH_TOKEN --build-arg BASE_URL=$BUILD_BASE_URL --build-arg "JWT_KEY='$JWT_KEY'" --build-arg "ADMIN_API_PUBLIC_KEY='$ADMIN_API_PUBLIC_KEY'" --build-arg IDENTIFIER_SALT=$IDENTIFIER_SALT --build-arg CI_COMMIT_REF_SLUG=$CI_COMMIT_REF_SLUG 

build-staging-demo:
  stage: build
  only:
    refs:
      - main
  environment:
    name: demo
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - mkdir -p /kaniko/.docker
    - echo $DOCKER_AUTH_CONFIG > /kaniko/.docker/config.json
    - cat /kaniko/.docker/config.json
    - export BUILD_TAG="staging-demo"
    - export BUILD_BASE_URL="https://demo.previews.${BASE_DOMAIN}"
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/$DOCKERFILE_PATH --destination $HARBOR_REGISTRY/$REPO_NAME/$IMAGE_NAME:$BUILD_TAG --build-arg CONVEX_DEPLOY_KEY=$CONVEX_DEPLOY_KEY --build-arg SENTRY_AUTH_TOKEN=$SENTRY_AUTH_TOKEN --build-arg BASE_URL=$BUILD_BASE_URL --build-arg "JWT_KEY='$JWT_KEY'" --build-arg "ADMIN_API_PUBLIC_KEY='$ADMIN_API_PUBLIC_KEY'" --build-arg IDENTIFIER_SALT=$IDENTIFIER_SALT

deploy-to-prod:
  stage: deploy
  when: manual
  only:
    refs:
      - main
  environment:
    name: production
    url: https://explique.epfl.ch
  variables:
    APPLICATION_NAME: "explique"
    TAG: "prod"
    FQDN: "explique.epfl.ch"
    TLS_SECRET_NAME: "explique.epfl.ch-tls"
    DEPLOYMENT_FILE: "deployment-prod.yaml"
  image:
    name: ic-registry.epfl.ch/tools/helm-kubectl-docker:latest
    entrypoint: [""]
  script:
    - *EXEC_SCRIPT

deploy-to-staging-demo:
  stage: deploy
  only:
    refs:
      - main
  environment:
    name: staging-demo
    url: https://demo.previews.$BASE_DOMAIN
  variables:
    APPLICATION_NAME: "explique-demo"
    TAG: "staging-demo"
    FQDN: "demo.previews.${BASE_DOMAIN}"
    TLS_SECRET_NAME: "previews.explique.ai-tls"
    DEPLOYMENT_FILE: "deployment-staging.yaml"
  image:
    name: ic-registry.epfl.ch/tools/helm-kubectl-docker:latest
    entrypoint: [""]
  script:
    - *EXEC_SCRIPT

deploy-branch:
  stage: deploy
  only:
    refs:
      - nightly
      - /^feat\/.*/
  environment:
    name: staging/$CI_COMMIT_REF_SLUG
    url: https://$CI_COMMIT_REF_SLUG.previews.$BASE_DOMAIN
    on_stop: cleanup-staging
  variables:
    APPLICATION_NAME: "explique-${CI_COMMIT_REF_SLUG}"
    TAG: "${CI_COMMIT_REF_SLUG}"
    FQDN: "${CI_COMMIT_REF_SLUG}.previews.${BASE_DOMAIN}"
    TLS_SECRET_NAME: "previews.explique.ai-tls"
    DEPLOYMENT_FILE: "deployment-staging.yaml"
  image:
    name: ic-registry.epfl.ch/tools/helm-kubectl-docker:latest
    entrypoint: [""]
  script:
    - *EXEC_SCRIPT

stop-staging:
  stage: deploy
  when: on_failure
  only:
    refs:
      - nightly
      - /^feat\/.*/
  variables:
    APPLICATION_NAME: "explique-${CI_COMMIT_REF_SLUG}"
  image:
    name: ic-registry.epfl.ch/tools/helm-kubectl-docker:latest
    entrypoint: [""]
  script:
    - mkdir -p ~/.kube
    - echo "$KUBERNETESCONFIG" > ~/.kube/config
    - kubectl delete deployment $APPLICATION_NAME --ignore-not-found -n thl2
    - kubectl delete service $APPLICATION_NAME --ignore-not-found -n thl2
    - kubectl delete ingress $APPLICATION_NAME --ignore-not-found -n thl2
    - kubectl delete secret $APPLICATION_NAME-regcred --ignore-not-found -n thl2

cleanup-staging:
  stage: deploy
  when: manual
  only:
    refs:
      - nightly
      - /^feat\/.*/
  environment:
    name: staging/$CI_COMMIT_REF_SLUG
    action: stop
  variables:
    APPLICATION_NAME: "explique-${CI_COMMIT_REF_SLUG}"
  image:
    name: ic-registry.epfl.ch/tools/helm-kubectl-docker:latest
    entrypoint: [""]
  script:
    - mkdir -p ~/.kube
    - echo "$KUBERNETESCONFIG" > ~/.kube/config
    - kubectl delete deployment $APPLICATION_NAME --ignore-not-found -n thl2
    - kubectl delete service $APPLICATION_NAME --ignore-not-found -n thl2
    - kubectl delete ingress $APPLICATION_NAME --ignore-not-found -n thl2
    - kubectl delete secret $APPLICATION_NAME-regcred --ignore-not-found -n thl2
