@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-100 antialiased;
}

@layer utilities {

  /* https://stackoverflow.com/a/66436651/4652564 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .tr-corner {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
  }

  .animation-delay-1-3 {
    animation-delay: calc(1s / 3);
  }

  .animation-delay-2-3 {
    animation-delay: calc(2s / 3);
  }
}